@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p style="color:black">QEMS is the Quiet Emergency Messaging System. It is a C# ASP.net web application. It allows you to contact the Police and other the proper authorities when an emergency situation happens without having to call them.</p>
