@{
    ViewBag.Title = "QMES";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    4559 N 67th St<br />
    Milwaukee, WI 53218<br />
    <abbr title="Phone">P:</abbr>
    414.213.6131
</address>

<address>
    <strong>Chong Vang:</strong>   <a href="mailto:chong_1988@hotmail.com">chong_1988@hotmail.com</a><br />
    
</address>