@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QEMS</h1>
    <p class="lead">QEMS is the Quiet Emergency Messaging System. It allows you to contact the Police and other the proper authorities when an emergency situation happens without having to call them.
    @*@if (User.IsInRole("Person") == true)
    {
    <p>You are able to text an emergency situation by texting this number (209)931-7370. In the text also add a number from 1 through 5 for the severity of the situation, 1 being least and 5 being greatest.</p>
    }*@
    </p>
   
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
   
</div>*@